.list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    &.noItem{
        justify-content: center;
        align-items: center;
    }
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 0.8rem;
    color: var(--text-secondary);
}