@import '../../../styles/variables';
@import '../../../styles/mixins';

.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 250px;
  background: var(--bg-sidebar);
  border-left: 1px solid var(--border);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  transition: width 0.3s ease;
  z-index: 100;

  &.collapsed {
    width: 80px;

    .label {
      display: none;
    }
  }
}
.logoContainer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 64px;
  height: 64px
}

.nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 10px;
  position: relative; // needed for absolute indicator
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 15px;
  border-radius: 8px;
  color: var(--text-primary);
  transition: color 0.2s;
  position: relative;
  z-index: 1; // above the indicator

  &:hover {
    // color: white;
    text-decoration: none;
  }

  &.active {
    // color: white;
    // background-color: #eee;

  }
}

.activeIndicator {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #eee4;
  //   border-color: var(--accent);
  border: 1px solid #888;
  //   z-index: 0;
}

.icon {
  width: 20px;
  height: 20px
}

.label {
  font-size: 0.9rem;
  font-weight: 600;
}

.bottom {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-top: 1px solid var(--border);
}



.iconBtn {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 8px;
  color: var(--text-secondary);
}

.themeIcon {
  width: 30px;
  height: 30px;
}

.mobileNav {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--bg-sidebar);
  border-top: 1px solid var(--border);
  justify-content: space-around;
  align-items: center;
  height: 60px;
  z-index: 100;
}

.mobileLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-secondary);
  font-size: 0.7rem;

  &.active {
    color: var(--accent);
  }

  span {
    font-size: 1.4rem;
  }
}

@include respond(mobile) {
  .sidebar {
    display: none;
  }

  .mobileNav {
    display: flex;
  }
}