.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.orgCard {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .status{
    margin-right: 4px;
    padding: 4px;
    background-color: var(--text-primary);
    color: var(--bg-primary);
    font-size: 0.7rem;
    font-weight: 500;
    border-radius: 8px;

    &.inactive{
      background-color: rgb(174, 12, 79);
      color: white;
    }
  }
}
.domain {
  font-size: 0.8rem;
  color: var(--text-secondary);
}
.actions {
  display: flex;
  gap: 8px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.modalActions {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}