.container {
  // max-width: 500px;
  width: 100%;
  margin: 0 auto;
  h1 { margin-bottom: 24px; }
}
.formCard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoDisplay p{
  margin-top: 10px;
}

.bottomSection{
  margin: 20px 0px;
}

.form{
    display: flex;
    flex-direction: column;
    gap:10px;
  }