@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-UltraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-DemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-ExtraBlack.woff2') format('woff2');
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Heavy.woff2') format('woff2');
  font-weight: 1000;
  font-style: normal;
}